@use "../styles/colors" as *;

@import "tailwindcss";

/* Emit CSS custom properties for light theme */
:root {
     // core variables
     --background: #{color($palette, background)};
     --foreground: #{color($palette, foreground)};
     --dope: #{color($palette, dope)};
     --font-sans: var(--font-inter, var(--font-geist-sans));
     --font-mono: var(--font-geist-mono);

     // palette variables
     @each $k, $v in $palette {
          --#{"#{$k}"}: #{$v};
     }
}

body {
     background: var(--background);
     color: var(--foreground);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     // width: 100vw !important;
     max-width: 100vw !important;
     // overflow-x: hidden;

     .body-item {
          min-height: 320px;

          main {
               display: grid;
               grid-template-columns: 1fr;
          }
     }
}

button {
     cursor: pointer;
     border-radius: 2rem;
     padding: 0.5rem 1rem;
     transition: background-color 0.3s, color 0.3s;
     border: none;

     &.primary {
          background-color: var(--primary);
          color: var(--white);

          &.bordered {
               border: 2px solid var(--primary);
               color: var(--dope);
          }
     }

     &.secondary {
          background-color: var(--secondary);
          color: var(--white);

          &.bordered {
               border: 2px solid var(--secondary);
               background-color: var(--white);
               color: var(--dope);
          }
     }

     &.dark {
          background-color: var(--dark);
          color: var(--white);

          &.bordered {
               border: 2px solid var(--dark);
               background-color: var(--white);
               color: var(--dope);
          }
     }

     &:active {
          transform: scale(0.8);
          transition: ease-in 0.2s;
     }
}
