@use "../../styles/colors" as *;
@import "tailwindcss";

.navbar {
     background-color: #{color($palette, white)};
     color: #4f4f4f;
     width: 100%;
     padding: 1rem 6rem;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     align-items: center;
     border-bottom: 1px solid var(--muted);

     .navbar-item {
          display: flex;
          align-items: center;
          gap: 2rem;

          &.end {
               justify-content: flex-end;
          }

          &.center {
               justify-content: center;
          }

          .navbar-link {
               text-decoration: none;
               color: inherit;
               font-weight: 350;
               font-size: 18px;
               transition: color 0.3s;

               &:hover {
                    color: #{color($palette, primary)};
               }
          }
     }

     transition: ease-in;
     position: sticky;
     top: 0;
     z-index: 9999;
}
